header {
    background-color: black;
    color:#aaa;
    width: 100%;
    padding: 3px 3px 3px 40px;
}
.container{
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    width: 70%;
    flex-direction: column;
}
.container h1{
    font-weight: 400;
}

.item{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 0 15px;
}
.item *{
    padding: 15px;
}
.item button{
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    background-position: center;
    background-image: url("trash.png");
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    margin-left:auto;
}
.add_input{
    width: 70%;
}

.functionality{
    width: 85%;
    margin: 30px auto;
    justify-content: center;
    display: flex;
    gap: 20px;
}
.functionality *{
    padding: 7px 10px;
}
.functionality button{
    color: white;
    background-color: #0066dd;
}
.tasks{
    margin-bottom:30px;
}