body *{
    margin:0px;
    padding: 0px;
    display: block;
    color: #1c1e21;
}

body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.big_container{
    padding-bottom: 112px;
    padding-top: 72px;
    background: #f2f4f7;
    min-width: 500px;
    display: block;
    unicode-bidi: isolate;
}
.inner_container{
    height: 496px;
    margin: 0 40px;
    width: auto;
    padding: 20px 0;
    position: relative;
    display: flex;
}

.call_to_action{
    width:400px;
    box-sizing: border-box;
    padding-right: 32px;
    display: inline-block;
    margin: 0 200px;
}

.call_to_action h2{
    width: auto;
    font-size:28px;
    font-weight: normal;
    line-height: 28px;
    padding: 0 0 20px 25px;
}
.img_facebook{
    height: 106px;
    padding: 112px 0 16px 0;
    margin-bottom: -15px;
}

form{
    height: 315px;
    width: 396px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    padding: 20px 0 28px;
}

form button{
    margin:0 auto;
    color:#fff;
    font-weight: bold;
}
form button:hover{
    cursor: pointer;
}

#login_but{
    background-color: #0866ff;
    width: 365px;
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
}
#login_but:hover{
    background-color:#0833ff;
}

#forgot_password{
    color:#0866ff;
    margin: 20px 0;
}
#create_new_acc{
    background-color: #42b72a;
    font-size: 17px;
    border-radius: 6px;
    width:160px;
    height: 48px;
    margin-top: 50px;
}

.input_box{
    margin-left: 15px;
}
.input{
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
    margin: 6px 0;
}
#create_page{
    margin-top:28px;
}
#create_page a{
    display: inline-block;
}
#login{
    text-align: center;
}

footer{
    background-color: #fff;
}
