.listing{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 5px;
    justify-content: center;
}

.listing-photo{
    width: 150px;
}